.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}

.data-box {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 40vw;
  height: 35vh;
  gap: 3px;
  background-color: #242424;
  border-radius: 18px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.25);
  margin: 15px;
}

.task {
  width: 97%;
  height: 6vh;
  margin-top: 1%;
  background-color: #edebeb;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.word-list-name {
  flex: 8;
  font-size: 14px;
  margin-left: 2%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 4vh;
  border-radius: 15px;
  background: #d9d9d9;
}

.bar{
  width: 10vw;
}