

.barcontainer {
  border-radius: 5px 5px 0 0;
  margin: 0 auto;
  min-height: 10vh;
  max-height: 50vh;
  min-width: 10vw;
  max-width: 50vw;
  z-index: 1;
}

.bar {
  position: absolute;
  display: inline-block;
  bottom: 0;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
  background: #663399;
  width: 10vw;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 black;
  box-shadow: 4px 0 8px #888;
}

.barlabel {
  position: absolute;
  border-top: 2px solid black;
  background: #888;
  bottom: 0;
  width: 100%;
  text-shadow: 1px 1px 0px black;
  color: white;
}

.bar:nth-child(1) {
  left: 5%;
}

.bar:nth-child(2) {
  left: 16%;
}

.bar:nth-child(3) {
  left: 27%;
}

.bar:nth-child(4) {
  left: 38%;
}

.bar:nth-child(5) {
  left: 49%;
}

.bar:nth-child(6) {
  left: 60%;
}